:root {
  --primary--color: #727aff;
  --secondary--color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --olive: olive;
  --blue-bg: linear-gradient(120deg, #f8fbfc 0%, #bee0eb 100%);
  --green: green;
  --light-green: #c0e2d1;
  --brown: #875961;
  --nunito: "Nunito Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}
nav {
  background: linear-gradient(120deg, #f8fbfc 0%, #bee0eb 100%);
  font-size: 1.5rem;
}

.header {
  width: 100%;

  display: flex;
  justify-content: center;
}

.header-content {
  width: 60rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h3 {
  color: var(--brown);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.header p {
  font-size: 1.5rem;
}

.header-contact-btn-container {
  display: flex;
  gap: 1rem;
  width: 70%;
  margin-top: 2rem;
}
.header-contact-btn-container .header-btns {
  flex: 1;
  padding: 1em 0.5em;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: transparent;
  text-align: center;
  text-decoration: none;
}

.header-contact-btn {
  background-color: var(--primary--color);
  color: white;
}
.header-resume-btn {
  background: transparent;
  border: 1px solid var(--primary--color);
  color: var(--primary--color);
}
.header-content h1 {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

.hi {
  font-size: 3rem;
}

.base {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
main {
  background: var(--blue-bg);
  padding: 2% 0;
  font-family: var(--nunito);
  overflow-x: hidden;
  margin: 5% 0;
}

.git-link {
  color: black;
}
.lauch {
  padding: 1em 1.5rem;
  border: 1px solid var(--green);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  display: inline-block;
  color: #875961;
}
/* ..................... ENQUIRY STYLE .....................*/
.inquiry-section {
  background: var(--light-green);
  margin: 3rem 0;
  font-family: var(--nunito);
}
.inquiry-section .inquiry {
  font-size: 4.8rem;
}
.inquiry-section .let-talk {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  background: #cbe6ef;
}

/* footer-contact-container and about-page-contact-container styles */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact-container .contact-container_email {
  color: black;
  text-decoration: none;
}
.contact-container_icons-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.contact-container_whatsapp-icon {
  color: var(--green);
}
.contact-container_linkedin-icon {
  color: rgb(20, 20, 159);
}
.contact-container_twitter-icon {
  color: rgb(14, 149, 222);
}
/* .....................ABOUT PAGE STYLE .....................*/
.about--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  max-width: 90%;
}
.back-home {
  font-size: 1.4rem;
}
.back-home:hover {
  text-decoration: underline;
}
.about--section__p {
  font-size: 1.5rem;
  font-family: var(--nunito);
}
.about--boxes {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.about--box {
  flex: 1;
  background-color: var(--secondary--color);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
}

a {
  text-decoration: none;
}
@media (max-width: 992px) {
  .about--boxes {
    flex-direction: column;
  }
  .header-content h1 {
    font-size: 3rem;
  }
  .btns {
    width: 100%;
  }
  .btns a {
    font-size: 1rem;
  }

  .box1 {
    order: 1;
  }
  .box2 {
    order: 2;
  }
  .box3 {
    order: 4;
  }
  .box4 {
    order: 3;
  }
  .box5 {
    order: 5;
  }
  .box6 {
    order: 6;
  }
  .box7 {
    order: 8;
  }
  .box8 {
    order: 7;
  }
  .box9 {
    order: 9;
  }
  .box10 {
    order: 10;
  }
  .header p {
    font-size: 1rem;
  }
  .header h3 {
    font-size: 1.5rem;
  }

  .lauch {
    font-size: 1rem;
    font-weight: bold;
  }

  .about--section__p {
    font-size: 1rem;
    text-align: center;
  }
  .inquiry-section .inquiry {
    font-size: 3rem;
  }
  .check-project {
    width: 100%;
  }
}
@media (max-width: 772px) {
  body {
    padding: 20% 0;
  }
  .inquiry-section .inquiry {
    font-size: 2.5rem;
  }
  .inquiry-section .talk {
    font-size: 1.2rem;
  }

  .contact-container_email {
    font-size: 4.5vw;
  }
  .header-contact-btn-container {
    width: 90%;
  }
  .header-contact-btn-container .header-btns {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  .contact-container_icons-container {
    width: 60%;
  }
}
